<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Different Tourist Places in india</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .main {
        display: inline-flex;
        justify-content: center;
        align-content: center;
        margin: 1rem;
        scroll-behavior: auto;
      }

      .card img {
        height: 20vh;
        width: 25vw;
      }
      .card h5 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="card">
        <img src="{%IMG%}" alt="" />
        <h5>{%TITLE%} <a href="{%ABOUT%}">👉</a></h5>
      </div>
    </div>
  </body>
</html>
